{:paths   ["src"]
 :deps    {expound {:mvn/version "0.8.5"}}
 :aliases {:orchestra       {:extra-deps {orchestra {:mvn/version "2020.07.12-1"}}}
           :test            {:extra-paths ["test"]
                             :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}}}
           :test-clj-runner {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                     :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
                             :main-opts  ["-m" "cognitect.test-runner"]}
           :test-cljs       {:extra-deps {thheller/shadow-cljs {:mvn/version "2.10.14"}}}}}
