{:paths   ["src"]
 :deps    {orchestra {:mvn/version "2019.02.06-1"}
           expound   {:mvn/version "0.7.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {org.clojure/test.check    {:mvn/version "0.10.0-alpha2"}
                                com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                           :sha     "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}
                  :main-opts   ["-m" "cognitect.test-runner"]}}}