{:dev-http {8888 ["./resources/public/"]}
 :deps     {:aliases [:test-cljs :orchestra]}
 :nrepl    {:port 9999}
 :builds   {:app     {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"}
            :test-ci {:target    :karma
                      :output-to "target/ci.js"}
            :test    {:target     :browser-test
                      :runner-ns  lambdaisland.chui.shadow.browser-runner
                      :test-dir   "resources/public"
                      :asset-path "/ui"
                      :ns-regexp  "-test$"}}}
